<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
<ul>
  <li><a href="/celebrities/create">add a new celebrity</a></li>
  <li><a href="/celebrities">List of Celebrities</a></li>
  <li><a href="/movies/create">add a new movie</a></li>
  <li><a href="/movies">List of Movies</a></li>
</ul>
  <body>
    <p>Welcome to {{title}}</p>

    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>